@font-face { font-family: 'robotoregular'; src: url('file:///C|/Users/1010Logic_Des/Downloads/coombu-index/coombu-index/fonts/Roboto-Regular-webfont.eot'); src: url('file:///C|/Users/1010Logic_Des/Downloads/coombu-index/coombu-index/fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('file:///C|/Users/1010Logic_Des/Downloads/coombu-index/coombu-index/fonts/Roboto-Regular-webfont.woff') format('woff'), url('file:///C|/Users/1010Logic_Des/Downloads/coombu-index/coombu-index/fonts/Roboto-Regular-webfont.ttf') format('truetype'), url('file:///C|/Users/1010Logic_Des/Downloads/coombu-index/coombu-index/fonts/Roboto-Regular-webfont.svg#robotoregular') format('svg'); font-weight: normal; font-style: normal; }
ul { margin: 0px; padding: 0px; list-style: none; }
a { }
/* ===============     HEADER PART  ======================  */

.header_part { background: #FFF; border-bottom: 1px solid #d5d5d5; padding: 10px 0px; }
.social_media { float: right; }
.social_media li { float: left; margin: 0px; padding: 0px; }
.social_media li a { padding: 6px 10px; color: #000; display: block; }
.logout { float: right; text-align: right; display: inline-block; padding: 8px 10px; margin: 10px 0px 0px 20px; }
.social_media i { font-size: 20px; }
/* ===============     MENU PART  ======================  */
.menu_wrapper { background: #5e5e5e; }
.main_menu li { margin: 1px 0px; }
.main_menu li a { background: #3c3c3c; border-left: 3px solid #3c3c3c; color: #FFF; display: block; padding: 10px; }
.main_menu li a:hover, .main_menu li.active a { background: #222222; color: #FF6F6F; border-left: 3px solid #FF8686; }
.menu_icon { width: 32px; height: 32px; position: absolute; }
.main_menu li a span { display: inline-block; padding-left: 40px; margin: 8px 0px 0px; }
.main_menu { min-height: 600px; background: #464646; }
.main_menu li a span.menu_arrow { background: url('file:///C|/Users/1010Logic_Des/Downloads/coombu-index/coombu-index/images/icon/arrow.png') no-repeat; float: right; width: 20px; height: 20px; padding: 0px 0px 0px 0px; }
.main_menu li:hover a span.menu_arrow, .main_menu li.active a span.menu_arrow { background-position: 0px -19px; }
.dashboard_icon { background: url('file:///C|/Users/1010Logic_Des/Downloads/coombu-index/coombu-index/images/icon/menu/dashboard.png') no-repeat; }
.registration_icon { background: url('file:///C|/Users/1010Logic_Des/Downloads/coombu-index/coombu-index/images/icon/menu/registration.png') no-repeat; }
.user_icon { background: url('file:///C|/Users/1010Logic_Des/Downloads/coombu-index/coombu-index/images/icon/menu/user.png') no-repeat; }
.group_icon { background: url('file:///C|/Users/1010Logic_Des/Downloads/coombu-index/coombu-index/images/icon/menu/groups.png') no-repeat; }
.picture_icon { background: url('file:///C|/Users/1010Logic_Des/Downloads/coombu-index/coombu-index/images/icon/menu/picture.png') no-repeat; }
.photobook_icon { background: url('file:///C|/Users/1010Logic_Des/Downloads/coombu-index/coombu-index/images/icon/menu/album.png') no-repeat; }
.message_icon { background: url('file:///C|/Users/1010Logic_Des/Downloads/coombu-index/coombu-index/images/icon/menu/message.png') no-repeat; }
/*.dashboard_icon{  background: url('../images/icon/menu/dashboard.png') no-repeat; } */





.content_wrapper { background: #FFF; }
.content { background: #FFF; border-bottom: 1px solid #dadada; }
.content:hover .content_icon img { -webkit-transform: rotate(360deg); -moz-transform: rotate(360deg); -o-transform: rotate(360deg); -ms-transform: rotate(360deg); color: #fff; opacity: 1; }
.content_icon img { -webkit-transition: all .5s ease-in-out; -moz-transition: all .5s ease-in-out; -o-transition: all .5s ease-in-out; -ms-transition: all .5s ease-in-out; }
.content_icon { background: #ee2c1f; border-radius: 100%; padding: 6px 4px; display: inline-block; margin: 16px 12px 0px; clear: both; float: left; }
.dashboard_subTitle { font-size: 28px; margin: 20px 0px 0px; display: inline-block; }
.dashboard_notification { text-align: center; /* padding-left: 65px; */ width: 110%; }
.welcome_admin { margin: 0px 0px 10px; display: block; }
.message_userImg { display: inline-block; width: 60px; height: 60px; border-radius: 100%; background: #E9E9E9; border: 1px solid #CCC; margin: 0px 10px; }
.message_wrapper { display: inline-block; width: 100%; }
.message_text { width: 70%; margin: 0px 10px; }
.mail_header { font-size: 15px; color: #383838; margin: 10px 0px 6px; padding: 0px; height: 14px; }
.content_tile { background: #4B4B4B; font-size: 22px; padding: 10px 10px 10px; margin-bottom: 0px; color: #FFF; margin: 0px 0px; }
.content li:last-child { border: 0px none; }
.content li { clear: both; float: left; width: 100%; padding: 6px 0px 7px; margin: 0px 0px 0px; background: #FAFAFA; border-bottom: 1px dashed #DADADA; }
.content li:hover { background: #E9E9E9; }
.content li:hover h4 { color: #ee2c1f; }
.message_text { font-size: 13px; }
.mail_dashboard { margin: 20px 0px; border: 1px solid #E2E2E2; }
.table-bordered { border-color: #E8EDF1 !important; }
.table-bordered th { background-color: #ecf0f2; border: 0 !important; }
.table-bordered td { border: 1px solid #E8EDF1 !important; }
.table-bordered td:first-child { border-radius: 0px; }
.table-bordered td:last-child { border-radius: 0px; }
.content form { display: inline-block; padding: 16px 20px 0px; border: 1px solid #CCC; width: 100%; }
.table > tbody > tr > td { }
.content table { margin: 0px; padding: 0px; }
.content .table-bordered th { background-color: #6F6F6F; border: 0 !important; color: #FFF; padding: 5px 8px 11px !important; }
.content form ul li:hover { background: none; }
.content form ul li { background: none; border: 0px none; }
.content form ul li label { float: left; width: 18%; font-size: 14px; font-weight: normal; padding: 8px 0px 0px; }
.content form ul li input { width: 50%; float: left; padding: 6px 10px; border: 0px none; border-bottom: 1px solid #CCC; background: #F0F0F0; ; }
.content form ul li span { float: left; font-size: 12px; color: #FF4242; width: 18%; margin: 10px 10px; }
.content form ul li.form_btn input { float: none; width: auto; padding: 8px 20px; background: #F66; color: #FFF; border-bottom: 1px solid #C40101; }
.content form ul li.form_btn { text-align: center; width: 80%; }
.content.table_content { margin: 20px 0px; }
.search_resultContent li, .search_resultContent li:hover, .result_photo li, .result_photo li:hover, .result_album, .result_album:hover { background: none; border: 0px none; }
.serach_details { padding: 20px 0px 0px; display: inline-block; width: 100%; border: 1px solid #CCC; }
.serach_details li ul { width: 75%; float: left; }
.serach_details li ul li { width: 20%; float: left; margin: 0px 10px; clear: none; }
.serach_details li ul li:fisrt-child {
margin:0px 10px 0px 0px;
}
.serach_details li ul li:last-child { margin: 0px 0px 0px 10px; }
.serach_details li ul.result_photo li a { width: 100%; height: 80px; background: #CCC; display: block; }
.serach_details li ul.result_photo li a img { width: 100%; height: 100%; }
.serach_details li { margin: 0px 0px 0px 20px; }
.serach_details li label { width: 20%; float: left; font-weight: normal; }
.serach_details li p { width: 75%; float: left; font-weight: bold; }
.message_table tr, .message_table td { border-right: 0px none !important; border-left: 0px none !important; }
.message_table .checkbox { margin: 1px 0px; }
.tabs_menu li, .tabs_menu li:hover, .wysihtml5-toolbar li, .wysihtml5-toolbar li:hover { float: left; margin: 0px; padding: 0px; background: none; border: 0px none; clear: none; width: auto; }
.tabs_menu li a { background: #B9B9B9; padding: 6px 10px; color: #4B4B4B; text-decoration: none; margin: 0px 1px 0px 0px; }
.tabs_menu li:hover a, .tabs_menu li.active a, .tabs_menu li.pull-right:hover a, .tabs_menu li.active a.active { background: #F14545; padding: 6px 10px; text-decoration: none; color: #FFF; }
.tabs_menu li.pull-right a { background: #414141; color: #FFF; }
#mailbox { margin: 5px 0px; border: 1px solid #CCC; border-radius: 0px 0px 10px 10px; }
.tabs_menu { margin-top: 10px; }
.dropdown-menu li, .dropdown-menu li { }
#compose_mail { width: 100%; padding: 0px 20px; }
#compose_mail .wysihtml5-toolbar li { float: left; display: list-item; list-style: none; margin: 0 5px 10px 0; }
.content form .wysihtml5-toolbar li.message_box label, .content form .wysihtml5-toolbar li.message_box textarea { width: 100%; clear: both; float: left; }
#compose_mail ul.wysihtml5-toolbar { margin: 0; padding: 0; display: block; width: 100%; float: left; clear: both; }
#compose_mail ul.wysihtml5-toolbar li span { font-size: 14px; line-height: 20px; color: #5e5e5e; text-align: center; cursor: pointer; text-shadow: none; margin: 0px; float: none; }
.login_form { margin: 0 auto; width: 90%; }
.login_form li i { position: absolute; }
.login_form li input { padding: 10px 40px; }
.login_form li i.gi-envelope { position: absolute; margin: 8px 10px; }
.login_form li { margin: 7px 0px 0px; margin-left: 38px;}
.login_form li i.gi-asterisk { position: absolute; margin: 15px 10px; }
#login-container { background: #FFF; border-radius: 16px; position: absolute; width: 375px; top: 5%; left: 48%; margin-left: -150px; z-index: 1000; padding-bottom: 30px; border: 1px solid #E4E4E4; box-shadow: 0px 6px 6px #DFDFDF; border-bottom: 2px solid #B6B6B6; }
#login-container .login-title { padding: 20px 10px; background: #444; background: url(file:///C|/Users/1010Logic_Des/Downloads/coombu-index/coombu-index/img/template/ie8_opacity_dark_60.png) repeat; }
#login-container .login-title h1 { font-size: 26px; color: #fff }
#login-container .login-title small { font-size: 16px; color: #ddd }
#login-container>.block { border: 0 }
#login-container .btn-primary { color: #fff; background-color: #FF3030; border-color: #FF5328; }
.login_form li.pull-right i { position: relative; }
#login-container .register-terms { line-height: 30px; margin-right: 10px; float: left }
.calendar-events { list-style: none; margin: 0; padding: 0 }
.table.table-vcenter td, .table.table-vcenter th { vertical-align: middle }
.table-options { padding: 6px 0 }
.table thead>tr>th { font-size: 18px; font-weight: 600 }
twitter { 00acee
}
.social_media li i.fa { background: #CCC; width: 40px; height: 40px; border-radius: 100%; padding: 11px; text-align: center; color: #fff; }
.social_media li:hover i.fa { -webkit-transform: rotate(360deg); -moz-transform: rotate(360deg); -o-transform: rotate(360deg); -ms-transform: rotate(360deg); color: #fff; opacity: 1; }
.social_media li i.fa-facebook { background: #3b5999; }
.social_media li i.fa-twitter { background: #00acee; }
.social_media li i.fa-linkedin { background: #309bcf; }
.social_media li i.fa-google-plus { background: #d34434; }
.animation-fadeIn { animation-name: fadeIn; -webkit-animation-name: fadeIn; animation-duration: 1s; -webkit-animation-duration: 1s; animation-timing-function: ease-in-out; -webkit-animation-timing-function: ease-in-out; visibility: visible!important; }
.animation-stretchRight { animation-name: stretchRight; -webkit-animation-name: stretchRight; animation-duration: 1.5s; -webkit-animation-duration: 1.5s; animation-timing-function: ease-out; -webkit-animation-timing-function: ease-out; transform-origin: 0 0; -ms-transform-origin: 0 0; -webkit-transform-origin: 0 0; }
.animation-fadeIn { animation-name: fadeIn; -webkit-animation-name: fadeIn; animation-duration: 1s; -webkit-animation-duration: 1s; animation-timing-function: ease-in-out; -webkit-animation-timing-function: ease-in-out; visibility: visible!important }
@keyframes fadeIn {
0% {
transform:scale(0);
opacity:0
}
100% {
transform:scale(1);
opacity:1
}
}
@-webkit-keyframes fadeIn {
0% {
-webkit-transform:scale(0);
opacity:0
}
100% {
-webkit-transform:scale(1);
opacity:1
}
}
.animation-stretchRight { animation-name: stretchRight; -webkit-animation-name: stretchRight; animation-duration: 1.5s; -webkit-animation-duration: 1.5s; animation-timing-function: ease-out; -webkit-animation-timing-function: ease-out; transform-origin: 0 0; -ms-transform-origin: 0 0; -webkit-transform-origin: 0 0 }
@keyframes stretchRight {
0% {
transform:scaleX(0.3)
}
40% {
transform:scaleX(1.02)
}
100%, 60% {
transform:scaleX(0.98)
}
80% {
transform:scaleX(1.01)
}
100% {
transform:scaleX(1)
}
}
@-webkit-keyframes stretchRight {
0% {
-webkit-transform:scaleX(0.3)
}
40% {
-webkit-transform:scaleX(1.02)
}
100%, 60% {
-webkit-transform:scaleX(0.98)
}
80% {
-webkit-transform:scaleX(1.01)
}
100% {
-webkit-transform:scaleX(1)
}
}

.dashboard_notifications .row{ margin-bottom:30px;}

.dashboard_notifications  #user_management .dashboard_subTitle {color: #ee2c1f;} 
.dashboard_notifications  #groups_management  .dashboard_subTitle {color: #EE8B1F;} 
.dashboard_notifications  #photos_management .dashboard_subTitle {color: #4B4B4B;} 
.dashboard_notifications   #album_management .dashboard_subTitle {color: #1F8BEE;} 


.dashboard_notifications .row:nth-child(2) .content_icon {background: #EE8B1F;} 
.dashboard_notifications .row:nth-child(3) .content_icon { background: #4B4B4B;} 
.dashboard_notifications .row:fourth-child(4) .content_icon { background: #1F8BEE;} 

